@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Open+Sans:wght@300;400&family=Oswald:wght@400;500&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

.navbar {
	background-color: #d4ecef;
	margin-bottom: 1rem;
}

.welcome {
	font-family: 'Nunito', sans-serif;
	color: #3c5487!important;
	font-weight: bold;
}

.log {
    padding: 10px;
	margin: 0 5px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to right, #3A31E0, #9D99E6);
    color: white!important;
	font-size: 14px;
}
